<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <h1>New Position</h1>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form   class="my-form" [formGroup]="services.form" (ngSubmit)="Save()">
    <mat-grid-list cols="1" rowHeight="250px">
        <mat-grid-tile>
          <div class="controles-container">
            <p>
              <mat-form-field>
                <mat-label>Position</mat-label>
                <input formControlName="rack" type="text" matInput placeholder="Position" required />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Quantity</mat-label>
                <input formControlName="quantity" type="number" matInput placeholder="Quantity" required />
                <mat-error>This field is mandatory.</mat-error>
              </mat-form-field> 
            </p>
            <div class="button-row">
              <button mat-raised-button color="primary" type="submit" [disabled]="services.form.invalid">Submit</button>
              <button mat-raised-button color="warn" type="reset">Clear</button>
            </div>
          </div>
        </mat-grid-tile>
    </mat-grid-list>

</form>