<mat-toolbar class="toolbar-details">
    <span class="fill-remaining-space"></span>
    <h1> Input Component <!-- {{ hoy | date : 'dd-MM-yyyy'}} --></h1>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form   class="my-form" [formGroup]="services.form" autocomplete="off" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key" />
          <mat-form-field>
            <mat-label>Quantity input</mat-label>
            <input formControlName="quantity" type="number" matInput placeholder="Quantity" required />
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Amount Boxes</mat-label>
            <textarea matInput type='number' formControlName="perCarton" required></textarea>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Rack</mat-label>
            <textarea matInput type='text' formControlName="position" required></textarea>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" (dateInput)="inputEvent($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="reset" >Clear</button>
          </div>
        </div>
      </mat-grid-tile>
      
    </mat-grid-list>

    

  </form>