

    <mat-toolbar class="toolbar-details">
        <span class="fill-remaining-space"></span>
        <h1> Component Details</h1>
        <span class="fill-remaining-space"></span>
        <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
    </mat-toolbar>
    <div class="example-button-row">
        <button mat-icon-button color="primary" aria-label="Input" (click)="movent('input')" ><mat-icon>input</mat-icon></button>
        <button mat-icon-button color="primary" aria-label="Output"(click)="movent('output')"><mat-icon>remove_from_queue</mat-icon></button>
        <button mat-icon-button color="primary" aria-label="returns" (click)="movent('returns')"><mat-icon>reply</mat-icon></button>
       
      </div>
    <mat-grid-list cols=3 rowHeight="400px">
        <mat-grid-tile [colspan]="1">
            <div class="component-info">
                <mat-card >
                    
                 <div >
                     <mat-card-subtitle>Component Name</mat-card-subtitle>
                     <mat-card-title>{{componentDetail.name}}</mat-card-title>
                    </div>
                    <div>
                     <mat-card-subtitle>No. Item</mat-card-subtitle>
                     <mat-card-title>{{componentDetail.itemCode}}</mat-card-title>
                    </div>
                    <div>
                     <mat-card-subtitle>Bar Code</mat-card-subtitle>
                     <mat-card-title>{{componentDetail.barCode}}</mat-card-title>
                    </div>
                    <div>
                     <mat-card-subtitle> Description</mat-card-subtitle>
                     <mat-card-title>{{componentDetail.description}}</mat-card-title>
                    </div>
                    
                </mat-card>
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <div class="positions">
                <h2 >Positions</h2>
                <h4>Total Quantity: {{quantity()}}</h4>
            <table>
                <tr>
                    <th>No. Rack</th>
                    <th>Boxes</th>
                    <th>Quantity</th>
                    <th>Actions</th>

                </tr>
                <tr *ngFor="let h of componentDetail.positions">
                    <td>{{h.rack}}</td>
                    <td>{{h.perCarton}}</td>
                    <td>{{h.quantity}} </td>
                    <td><button mat-icon-button color="primary"><mat-icon>update</mat-icon></button></td>
                </tr>
            </table>
            </div>
    
        </mat-grid-tile>
        <mat-grid-tile>
            <img mat-card-xl-image src="https://localhost:44357/api/Component/getPhoto/{{picture}}" >   
        </mat-grid-tile>  