<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <h1>{{services.editMode ? 'Modify Project' : 'New Project'}}</h1>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>

<form   class="my-form" [formGroup]="services.form" autocomplete="off" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="300px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key" />
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput placeholder="Name" required />
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Project Manager</mat-label>
            <textarea matInput type='text' formControlName="projectManager" required></textarea>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Customer name </mat-label>
            <mat-select formControlName="customerId" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let customer of customerList" [value]="customer.id">
                {{customer.name}}
              </mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="reset" >Clear</button>
          </div>
        </div>
      </mat-grid-tile>
      
    </mat-grid-list>



  </form>