<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <h1>New Component</h1>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
  <form   class="my-form" [formGroup]="service.form" autocomplete="off" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="400px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="$key" />
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input formControlName="name" type="text" matInput placeholder="Name" required />
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field >
            <mat-label>Component description</mat-label>
            <textarea matInput type='text' formControlName="description" required></textarea>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Item Code</mat-label>
            <input formControlName="itemCode" type="text" matInput placeholder="ItemCode" required />
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>BarCode</mat-label>
            <input formControlName="barCode" type="text" matInput placeholder="BarCode" required />
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Product name </mat-label>
            <mat-select formControlName="product" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let product of productList" [value]="product.id">
                {{product.name}}
              </mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Component type </mat-label>
            <mat-select formControlName="type" required>
              <mat-option>--</mat-option>
              <mat-option *ngFor="let type of types" [value]="type.value">
                {{type.value}}
              </mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          
          
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        
        <div class="controles-container">
          
          <input type="file" formControlName="picture" class="d-none" (change)="onPhotoSelected($event)" #photoInput/>
          <img [src]="showPicture() || 'assets/no-image.png'" id="no-image" alt="Alternate Text" (click)="photoInput.click()" />

          <div class="button-row">
            <button mat-raised-button color="primary" type="submit">Submit</button>
            <button mat-raised-button color="warn" type="reset" >Clear</button>
          </div>
        </div>
      </mat-grid-tile>
    
    </mat-grid-list>



  </form>