<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <h1> Components List</h1>
    <span class="fill-remaining-space"></span>
</mat-toolbar>
<div class="search-div">
    <button mat-raised-button >
      <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput  placeholder="Search" autocomplete="off" />
      <button mat-button matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>